.table.dataTable>thead:first-child>tr:first-child>th:nth-child(1) {
    min-width: 150px;
}
.table.dataTable>thead:first-child>tr:first-child>th:nth-child(2) {
    min-width: 150px;
}
.table.dataTable>thead:first-child>tr:first-child>th:nth-child(3) {
    min-width: 200px;
}
 .table.dataTable>thead:first-child>tr:first-child>th:nth-child(4) {
    min-width: 200px;
}
 .table.dataTable>thead:first-child>tr:first-child>th:nth-child(5) {
    min-width: 200px;
}

 .table.dataTable>thead:first-child>tr:first-child>th:nth-child(6) {
    min-width: 200px;
}

 .table.dataTable>thead:first-child>tr:first-child>th:nth-child(7) {
    min-width: 120px;
}
 .table.dataTable>thead:first-child>tr:first-child>th:nth-child(8) {
    min-width: 80px;
}

 .table.dataTable>thead:first-child>tr:first-child>th:nth-child(9) {
    min-width: 150px;
}
 .table.dataTable>thead:first-child>tr:first-child>th:nth-child(10) {
    min-width: 100px;
}
 .table.dataTable>thead:first-child>tr:first-child>th:nth-child(11) {
    min-width: 150px;
}
 .table.dataTable>thead:first-child>tr:first-child>th:nth-child(12) {
    min-width: 180px;
}


.select-placeholder:after {
       content: unset !important;
}