.text-center{
	text-align: center !important;
}

.images_w_table{
	width: 200px !important;
}

.fs18{
	font-size: 18px;
}

.fs21{
	font-size: 21px;
}

.fs24{
    font-size: 24px;
}

.fs20{
	font-size: 20px;
}

.fs15{
    font-size: 15px;
}


.fs13{
    font-size: 13px;
}



.fs11{
	font-size: 17px;
}

.text-uppercase{
	text-transform: uppercase;
}

.text-right{
	text-align: right !important;
}

.label{
	align-items: center;
    border-radius: .5rem;
    display: inline-flex;
    
    font-weight: 500;
    line-height: 1rem;
    padding: .25rem .625rem;
}



.label {
    display: inline;
    padding: .2em .6em .3em;
 
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-warning{
    background-color: #FFBC34;
}

.thead-dark {
	background-color: #CBD5E1;
   
   }